<template>
<div>
  <h2>Compose & Pipe</h2>

  <p>
    [Math] It's the pointwise application of one function to the result of another to produce a third function.
  </p>

  <pre><code>
  f: X -> Y
  g: Y -> Z

  h: g(f(X)): X -> Z

  const reverse = str => str.reverse();
  const uppercase = str => str.toUppercase();

  const result = uppercase(reverse("test"));  // TSET
  </code></pre>

  <pre v-show="step >= 2"><code>
  const compose = function(f, g) {
    return function(x) {
        return f(g(x));
    };
  };

  const reverseAndUppercase = compose(uppercase, reverse);

  const result = reverseAndUppercase("test");  // TSET

  // equivalent to
  const result = compose(uppercase, reverse)("test");  // TSET
  </code></pre>

  <p v-show="step >= 3">
    What if we want to combine 3 or more functions?
  </p>

  <pre v-show="step >= 4" :class="{[$style.disabled]: step > 4}"><code>
  const compose3 = function(f, g, h) {
    return function(x) {
        return f(g(h(x)));
    };
  };
  </code></pre>

  <pre v-show="step >= 5"><code>
  const compose = (...fns) => (...args) =>
      fns.reduceRight((res, fn) => [fn.call(null, ...res)], args)[0];
  </code></pre>

  <p v-show="step >= 6">
    What about the Pipe?
  </p>

  <pre v-show="step >= 7"><code>
  const pipe = (...fns) => (...args) =>
      fns.reduce((res, fn) => [fn.call(null, ...res)], args)[0];

  const reverseAndUppercase = compose(uppercase, reverse);
  // equivalent to
  const reverseAndUppercase = pipe(reverse, uppercase);
  </code></pre>

  <button v-if="step < 7" @click="step = step+1">Next</button>
</div>
</template>

<script>
export default {
  name: "Compose",
  data() {
    return {
      step: 1
    };
  }
};
</script>

<style module>
.disabled {
  opacity: 0.3;
}
</style>
