<template>
<div>
  <h2>Currying</h2>
  <p>
    It's the technique of translating the evaluation of a function that takes multiple arguments into evaluating a sequence of functions, each with a single argument.
  </p>

  <h4>E.g.</h4>

  <pre><code>
  const replace = (re, rpl, str) => str.replace(re, rpl);

  /* Curried version */

  const replace = re => rpl => str => str.replace(re, rpl);
  </code></pre>

  <pre><code>
  const prop = (p, obj) => obj[p];

  /* Curried version */

  const prop = p => obj => obj[p];
  </code></pre>

  <button @click="showMagicSpell = true">Show curry magic spell</button>

  <div v-if="showMagicSpell">
    <pre><code>
  export function curry(fn) {
    return (...args) => {
      if (args.length === 0) {
        throw Error("EMPTY INVOCATION");
      }
      if (args.length >= fn.length) {
        return fn(...args);
      }
      return curry(fn.bind(null, ...args));
    };
  }

  const replace = curry((re, rpl, str) => str.replace(re, rpl));

  const prop = curry((p, obj) => obj[p]);
    </code></pre>
  </div>
</div>
</template>

<script>
export default {
  name: "Curry",
  data() {
    return {
      showMagicSpell: false
    };
  }
};
</script>

<style scoped>
</style>
