<template>
  <div>
    <h2>Exercises</h2>

    <nav>
      <router-link to="/exercise/1">E.g. 1</router-link>
      <router-link to="/exercise/2">E.g. 2</router-link>
      <router-link to="/exercise/3">E.g. 3</router-link>
      <router-link to="/exercise/4">E.g. 4</router-link>
      <router-link to="/exercise/5">E.g. 5</router-link>
    </nav>

    <router-view/>
  </div>
</template>

<script>
export default {
  name: "Exercises"
};
</script>

<style scoped>
nav {
  display: flex;
}
nav > * {
  display: inline-block;
  padding: 5px;
}
</style>
