<template>
  <div class="home">
    <h2>Why Functional Programming:</h2>

    <ul style="margin-top: 10px">
      <li>Its pure function, provides confidence of not changing things outside of its scope.</li>
      <li>Its reduces the complexity, need not to worry about how it is doing it, focus will be only on what it is
        doing.
      </li>
      <li>Ease of testing, because it does not depend on state of the application and result verification also will be
        easy.
      </li>
      <li>It makes the code more readable.</li>
      <li>Functional programming makes code easier to understand.</li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "home"
};
</script>
