<template>
  <div>
    <h2>Imperative vs declarative programming</h2>

    <p><b>Imperative</b> - focuses on describing how the program operates</p>
    <p><b>Declarative</b> - focuses on what the program should accomplish</p>

    <div>
      <button @click="selectExample(1)">Eg. 1</button>
      <button @click="selectExample(2)">Eg. 2</button>
    </div>

    <section v-if="selected === 1">
      <pre>
        <code>
          const books = [
            { name: 'JavaScript', pages: 450 },
            { name: 'Angular', pages: 902 },
            { name: 'Node', pages: 732 }
          ]

          /* and for every book we need to add additional lastRead property */
        </code>
      </pre>

      <template v-if="step > 1">
        <pre>
          <code>
            /* Imperative Pattern */

            for (let i = 0; i &lt; books.length; i++) {
              books[i].lastRead =  new Date();
            }
          </code>
        </pre>
      </template>
      <button v-else @click="step = 2">Show imperative</button>

      <template v-if="step > 2">
            <pre>
        <code>
          /* Declarative Pattern */

          books.map( book => ({ ...book, lastRead: new Date() }));
        </code></pre>
      </template>
      <button v-else @click="step = 3">Show declarative</button>
    </section>

    <section v-if="selected === 2">
      <pre>
        <code>
          const meetups = [
            { name: “JS”, isActive: true, members: 900 },
            { name: “Angular”, isActive: true, members: 450 },
            { name: “Node”, isActive: false, members: 320 }
          ];

          /* and we want to get a list of active meetups only */
        </code>
      </pre>

      <template v-if="step > 1">
        <pre>
          <code>
            /* Imperative Pattern */

            const activeMeetups = [];

            for (let i = 0; i &lt; meetups.length; i++) {
              let meetup = meetups[i];
              if (meetup.isActive) {
                activeMeetups.push(meetup);
              }
            }
          </code>
        </pre>
      </template>
      <button v-else @click="step = 2">Show imperative</button>

      <template v-if="step > 2">
            <pre>
        <code>
          /* Declarative Pattern */

          const activeMeetups = meetups.filter( meetup => meetup.isActive );
        </code></pre>
      </template>
      <button v-else @click="step = 3">Show declarative</button>
    </section>
  </div>
</template>

<script>
export default {
  name: "ImperativeVsDeclarative",
  data() {
    return {
      step: 1,
      selected: undefined
    };
  },
  methods: {
    selectExample(num) {
      this.step = 1;
      this.selected = num;
    }
  }
};
</script>
