<template>
  <div>
    <h2>More exercises</h2>

    <nav>
      <router-link to="/exercise/6">E.g. 6</router-link>
      <router-link to="/exercise/7">E.g. 7</router-link>
      <router-link to="/exercise/8">E.g. 8</router-link>
    </nav>

    <router-view/>
  </div>
</template>

<script>
export default {
  name: "Exercises"
};
</script>

<style scoped>
nav {
  display: flex;
}
nav > * {
  display: inline-block;
  padding: 5px;
}
</style>
