<template>
<div>
<h2>Point free style</h2>

  <p>Why point free?</p>

  <ul>
    <li>Easier to read</li>
    <li>No need to think about temp variable names</li>
  </ul>

  <pre><code>
    button.addClickListenner( event => this.handleEvent(event) );
  </code></pre>

  <pre><code>
    /* Pointfree */

    button.addClickListenner( this.handleEvent );
  </code></pre>

</div>
</template>

<script>
export default {
  name: "PointFree"
};
</script>

<style scoped>
</style>
