<template>
<div>
  <h4>Code snippets copy-pasted from <i>Concirrus</i> project</h4>

  <section v-if="step === 1">
    <p>1. Capitalize function</p>

    <pre><code>
  export const _capitalize = inputString => {
    return _pipe(_head, _toUpperCase)(inputString) + _tail(inputString);
  };
    </code></pre>
  </section>

  <section v-if="step === 2">
    <p>2. Get aggregated position of all markers placed on the map to calculate map center:</p>

    <pre><code>
  const getAccumulatedPosition = _pipe(
    _map(({ position }) => position),
    _reduce(
      (acc, curr) => ({
        lat: acc.lat + curr.lat,
        lng: acc.lng + curr.lng
      }),
      { lat: 0, lng: 0 }
    )
  );
    </code></pre>
  </section>

  <section v-if="step === 3">
    <p>3. Extract journeys data from the response and transform it to required schema:</p>

    <pre><code>
  const getJourneys = _get("journeys.items");

  const parseJourneys = _map(journey => ({
    ...journey,
    startTime: _parseDateFromString(journey.startTime),
    duration: _secondsToDuration(journey.duration)
  }));


  export default {
    name: "PolicyJourneys",
    [...]
    computed: {
      journeys() {
        return _pipe(getJourneys, parseJourneys)(this.policy);
      },
    }
  }
  </code></pre>
  </section>

  <section v-if="step === 4">
    <p>4. Register all vue filters globally inside a directory:</p>

    <pre><code>
  import Vue from "vue";

  import { _pipe } from "../utils/function";
  import { _camelCase } from "../utils/string";
  import { _replace } from "../utils/string";

  const parseFilterName = _pipe(
    _replace(/.\//, ""),
    _replace(".js", ""),
    _camelCase
  );

  const requiredComponents = require.context(".", true, /\.js$/);

  requiredComponents.keys().forEach(function(componentRelativePath) {
    const componentConfig = requiredComponents(componentRelativePath);

    const name = parseFilterName(componentRelativePath);

    if (name === "index") {
      return;
    }

    Vue.filter(name, componentConfig.default || componentConfig);
  });
    </code></pre>
  </section>

  <section v-if="step === 5">
    <p>5. (almost) Lodash <i>get</i>:</p>

    <pre><code>
  export const _get = _curry((path, object, defaultValue = undefined) => {
    const keys = path.split(".");

    const attribute = keys.reduce(
      (obj, prop) => (obj && obj[prop] != null ? obj[prop] : undefined),
      object
    );

    return attribute === undefined ? defaultValue : attribute;
  });
    </code></pre>
  </section>

  <button @click="step = Math.max(step-1, 1)">Prev</button>
  <button @click="step = step+1" v-if="step < 5">Next</button>
</div>
</template>

<script>
export default {
  name: "PracticalUseCases",
  data() {
    return {
      step: 1
    };
  }
};
</script>

<style scoped>
</style>
