<template>
  <div>
    <h2>Pure function</h2>

    <p>
      A function that has the following properties:<br/>
      - Its return value is the same for the same arguments<br/>
      - Its evaluation has no side effects
    </p>

    <p>
      <b>Math.random()</b> is not pure function because it always returns new value on each call.
    </p>
    <p>
      <b>Math.min(1,2)</b> is an example of pure function which always returns same value with same set of inputs
    </p>

  </div>
</template>

<script>
export default {
  name: "PureFunction"
};
</script>
