<template>
  <div>
    <p>With following data:</p>
    <pre><code>
{{ data }}
    </code></pre>

    <p>Considering the following functions:</p>
    <pre><code>
    const add = (a, b) => a + b;

    const average = xs => reduce(add, 0, xs) / xs.length;
    </code></pre>


    <p>Use the helper function `average` to refactor `averageDollarValue` as a composition.</p>

    <pre><code>
    // averageDollarValue :: [Car] -> Int
    const averageDollarValue = (cars) => {
      const dollarValues = map(c => c.dollar_value, cars);
      return average(dollarValues);
    };
    </code></pre>

    <h4>Output:</h4>
    <pre><code>
    {{ result }}
    </code></pre>
  </div>
</template>

<script>
import { map, pipe, prop, reduce } from "../utils/functions";

const add = (a, b) => a + b;
const average = xs => reduce(add, 0, xs) / xs.length;

/* *** Edit only lines between this marks ***  */

// averageDollarValue :: [Car] -> Int
// const averageDollarValue = cars => {
//   const dollarValues = map(c => c.dollar_value, cars);
//   return average(dollarValues);
// };

const averageDollarValue = pipe(
  map(prop("dollar_value")),
  average
);

/* *** Edit only lines between this marks ***  */

export default {
  name: "Example4",
  data() {
    return {
      data: [
        {
          name: "Aston Martin One-55",
          horsepower: 750,
          dollar_value: 1220000,
          in_stock: true
        },
        {
          name: "Aston Martin One-77",
          horsepower: 750,
          dollar_value: 1850000,
          in_stock: true
        }
      ]
    };
  },
  computed: {
    result() {
      return averageDollarValue(this.data);
    }
  }
};
</script>

<style scoped>
</style>
