<template>
  <div>
    <p>With following data:</p>
    <pre><code>
{{ data }}
    </code></pre>

    <p>
      Refactor `fastestCar` using `compose()` and other functions in pointfree-style. Hint, the `flip` function may come in handy.
    </p>

    <pre><code>
    // fastestCar :: [Car] -> String
    const fastestCar = (cars) => {
      const sorted = sortBy(car => car.horsepower, cars);
      const fastest = last(sorted);
      return concat(fastest.name, ' is the fastest');
    };
    </code></pre>

    <h4>Output:</h4>
    <pre><code>
    {{ result }}
    </code></pre>
  </div>
</template>

<script>
import { concat, flip, last, pipe, prop, sortBy } from "../utils/functions";

/* *** Edit only lines between this marks ***  */

// fastestCar :: [Car] -> String
// const fastestCar = cars => {
//   const sorted = sortBy(car => car.horsepower, cars);
//   const fastest = last(sorted);
//   return concat(fastest.name, " is the fastest");
// };

const fastestCar = pipe(
  sortBy(prop("horsepower")),
  last,
  prop("name"),
  flip(concat, " is the fastest")
);

/* *** Edit only lines between this marks ***  */

export default {
  name: "Example5",
  data() {
    return {
      data: [
        {
          name: "Fiat 126p",
          horsepower: 50,
          dollar_value: 100,
          in_stock: false
        },
        {
          name: "Aston Martin One-77",
          horsepower: 750,
          dollar_value: 1850000,
          in_stock: true
        },
        {
          name: "Opel Corsa",
          horsepower: 130,
          dollar_value: 8000,
          in_stock: true
        }
      ]
    };
  },
  computed: {
    result() {
      return fastestCar(this.data);
    }
  }
};
</script>

<style scoped>
</style>
