<template>
  <div>
    <p>With following data:</p>
    <pre><code>
{{ data }}
    </code></pre>

    <p>Use `compose` or `pipe` to rewrite the function below.</p>

    <pre><code>
    // isLastInStock :: [Car] -> Boolean
    const isLastInStock = (cars) => {
      const lastCar = last(cars);
      return prop('in_stock', lastCar);
    };
    </code></pre>

    <h4>Output:</h4>
    <pre><code>
    {{ result }}
    </code></pre>
  </div>
</template>

<script>
import { last, pipe, prop } from "../utils/functions";

/* *** Edit only lines between this marks ***  */

// isLastInStock :: [Car] -> Boolean
// const isLastInStock = cars => {
//   const lastCar = last(cars);
//   return prop("in_stock", lastCar);
// };

const isLastInStock = pipe(
  last,
  prop("in_stock")
);

/* *** Edit only lines between this marks ***  */

export default {
  name: "Example3",
  data() {
    return {
      data: [
        {
          name: "Aston Martin One-77",
          horsepower: 750,
          dollar_value: 1850000,
          in_stock: true
        }
      ]
    };
  },
  computed: {
    result() {
      return isLastInStock(this.data);
    }
  }
};
</script>

<style scoped>
</style>
