<template>
<div>
  <p>
    Get a list of comment authors who have medium photo (of size 50x50) included <small><i>(should be 6 comment authors)</i></small>:
  </p>
  <pre><code>
    [
      {
        id: "5c3c96dc5005a65810b5df7f",
        title: "Zytrac",
        text: "Mollit ...",
        comments: [
          {
            id: "5c3c96dc63c6d10fd54a85fa",
            name: "Vonda Barry",
            photos: ["http://placehold.it/30", "http://placehold.it/80"]
          },
          ...
        ]
        },
      ...
    ]
  </code></pre>

  <h4>Output:</h4>

  <p>Comment authors with photo(s) of size 50x50 <small><i>("http://placehold.it/50")</i></small>:</p>

  <!--<pre>-->
    <!--<code>-->
<!--{{result}}-->
    <!--</code>-->
  <!--</pre>-->

  <ol>
    <li v-for="user of result" :key="user.id">
      {{ user.name }}
    </li>
  </ol>
</div>
</template>

<script>
export default {
  name: "Exercise3",
  data() {
    return {
      data: [
        {
          id: "5c3c96dc5005a65810b5df7f",
          title: "Zytrac",
          text:
            "Mollit irure anim ullamco aute dolor est id minim. Nostrud aliquip ut sit exercitation sit nisi anim. Voluptate nulla fugiat nostrud amet est nostrud pariatur labore adipisicing ea fugiat in aliquip. Cupidatat excepteur culpa commodo excepteur incididunt velit. Sit culpa culpa adipisicing sint incididunt exercitation. Commodo aliqua ad incididunt do amet labore.",
          comments: [
            {
              id: "5c3c96dc63c6d10fd54a85fa",
              name: "Vonda Barry",
              photos: ["http://placehold.it/30", "http://placehold.it/80"]
            },
            {
              id: "5c3c96dce91bf844a292a943",
              name: "Summers Rutledge",
              photos: ["http://placehold.it/80", "http://placehold.it/50"]
            },
            {
              id: "5c3c96dc8b377619a1e806d7",
              name: "Rose Zimmerman",
              photos: ["http://placehold.it/50", "http://placehold.it/30"]
            }
          ]
        },
        {
          id: "5c3c96dc3a3192b250a77253",
          title: "Cosmosis",
          text:
            "Deserunt ut in eu in in incididunt laborum nulla elit proident consequat. Enim ea magna et non mollit anim officia adipisicing. Excepteur tempor est anim id.",
          comments: [
            {
              id: "5c3c96dc2e4e132c45fde1ce",
              name: "Martinez Lamb",
              photos: ["http://placehold.it/50", "http://placehold.it/80"]
            },
            {
              id: "5c3c96dc52874bd3e629e86f",
              name: "Fern Vaughan",
              photos: ["http://placehold.it/80", "http://placehold.it/30"]
            },
            {
              id: "5c3c96dcb294bcf7bf4ddcf7",
              name: "Wyatt Oconnor",
              photos: ["http://placehold.it/30", "http://placehold.it/50"]
            },
            {
              id: "5c3c96dce075d541312fc792",
              name: "Kimberly Underwood",
              photos: ["http://placehold.it/30", "http://placehold.it/80"]
            }
          ]
        },
        {
          id: "5c3c96dcbe42a54aebeacf72",
          title: "Insuron",
          text:
            "Esse fugiat fugiat incididunt eiusmod eu aliqua elit consequat nostrud voluptate sint. Reprehenderit sint labore est tempor ex aute excepteur ea est sunt nisi excepteur irure cupidatat. Officia tempor occaecat quis mollit aute proident. Fugiat cupidatat fugiat deserunt laboris minim anim ad exercitation non esse laboris sit laborum.",
          comments: [
            {
              id: "5c3c96dca9c3086375bb5791",
              name: "Natalia Hoffman",
              photos: ["http://placehold.it/30", "http://placehold.it/80"]
            },
            {
              id: "5c3c96dca05360c53dd1d33d",
              name: "Mercer Leblanc",
              photos: ["http://placehold.it/50", "http://placehold.it/30"]
            },
            {
              id: "5c3c96dc77a012c2a058765b",
              name: "Quinn Brooks",
              photos: ["http://placehold.it/50", "http://placehold.it/30"]
            },
            {
              id: "5c3c96dcea44c2963038f9a5",
              name: "Mills Patrick",
              photos: ["http://placehold.it/30", "http://placehold.it/30"]
            }
          ]
        }
      ]
    };
  },
  computed: {
    result() {
      return [];
    }
  }
};
</script>

<style module>
</style>
