<template>
<div>
  <p>
    Calculate average age of <b>active</b> users: <small><i>(answer is 28)</i></small>
  </p>
  <pre><code>
    [
      {
        _id: "5c3c8929d94b7cd67ae7c001",
        name: "Bradley Guzman",
        age: 38,
        isActive: false
      },
      ...
    ]
  </code></pre>

  <h4>Output:</h4>

  <p>Average age: {{ result }}</p>
</div>
</template>

<script>
export default {
  name: "Exercise2",
  data() {
    return {
      data: [
        {
          _id: "5c3c8929d94b7cd67ae7c001",
          name: "Bradley Guzman",
          age: 38,
          isActive: false
        },
        {
          _id: "5c3c89296c8e56bb8d8851f7",
          name: "Leanne Fry",
          age: 39,
          isActive: true
        },
        {
          _id: "5c3c89297aa44a8821bdac83",
          name: "Ruby Cote",
          age: 27,
          isActive: true
        },
        {
          _id: "5c3c8929328d173b5f7e7116",
          name: "Jeannette Carr",
          age: 29,
          isActive: false
        },
        {
          _id: "5c3c8929b387a03a2ef395df",
          name: "Franklin Rivera",
          age: 23,
          isActive: true
        },
        {
          _id: "5c3c8929be7a0fa85667b15c",
          name: "Mara Shepard",
          age: 23,
          isActive: true
        }
      ]
    };
  },
  computed: {
    result() {
      return "TODO";
    }
  }
};
</script>

<style module>
</style>
