<template>
<div>
  <p>
    Map given data table so each user has additional property <i>avatar</i> - which will be uppercase concatenation of first letters of first name and last name
  </p>
  <pre><code>
    [
      {
        "_id": "5c3c80972a38e6f5e758b416",
        "firstName": "Meghan",
        "lastName": "Barry",
        "color": "rgb(165, 217, 18)"
      },
      ...
    ]
  </code></pre>

  <h4>Output:</h4>
  <ul>
    <li v-for="user of result" :key="user._id" :class="$style.row">
      <span :class="$style.avatar" :style="{ background: user.color }">
        {{ user.avatar ? user.avatar : '--' }}
      </span>
      <span>{{ user.firstName }} {{ user.lastName }}</span>
    </li>
  </ul>
</div>
</template>

<script>
/* *** Edit only lines between this marks ***  */

const extendUsers = xs =>
  xs.map(o => ({
    ...o,
    avatar: (o.firstName[0] + o.lastName[0]).toUpperCase()
  }));

// import { concat, head, map, pipe, prop, toUpperCase } from "../utils/functions";
//
// const getFirstAndUpper = pipe(
//   head,
//   toUpperCase
// );
//
// const getAvatar = concat(
//   getFirstAndUpper(prop("firstName")),
//   getFirstAndUpper(prop("lastName"))
// );
//
// const extendUsers = pipe(
//   map(o => ({
//     ...o,
//     avatar: getAvatar
//   }))
// );

/* *** Edit only lines between this marks ***  */

export default {
  name: "Exercise6",
  data() {
    return {
      data: [
        {
          _id: "5c3c83dfecc1269092fc1af8",
          firstName: "Gwen",
          lastName: "Burch",
          color: "rgb(217, 191, 100)"
        },
        {
          _id: "5c3c83dfbf09ea42ddcad2d4",
          firstName: "Oconnor",
          lastName: "saunders",
          color: "rgb(251, 137, 52)"
        },
        {
          _id: "5c3c83dfe61b11dad0389518",
          firstName: "Rodgers",
          lastName: "Sandoval",
          color: "rgb(187, 141, 129)"
        },
        {
          _id: "5c3c83df5ac5d8790e63913a",
          firstName: "Lloyd",
          lastName: "Shepherd",
          color: "rgb(135, 59, 180)"
        },
        {
          _id: "5c3c83df55b3056f5cdd8a00",
          firstName: "Vilma",
          lastName: "duke",
          color: "rgb(11, 237, 56)"
        }
      ]
    };
  },
  computed: {
    result() {
      return extendUsers(this.data);
    }
  }
};
</script>

<style module>
.row {
  display: flex;
  margin: 4px 0;

  align-items: center;
}

.avatar {
  display: inline-flex;
  height: 40px;
  width: 40px;
  margin-right: 10px;

  justify-content: center;
  align-items: center;

  background-color: #eee;
  border-radius: 50%;
}
</style>
