<template>
  <div>
    <p>Considering the following function:</p>
    <pre><code>
    const keepHighest = (x, y) => (x >= y ? x : y);
    </code></pre>

    <p>Refactor `max` to not reference any arguments using the helper function `keepHighest`.</p>

    <pre><code>
    const data = [3, 4, 6, 1, 8, 0];

    // max :: [Number] -> Number
    const max = xs => reduce((acc, x) => (x >= acc ? x : acc), -Infinity, xs);
    </code></pre>

    <h4>Output:</h4>
    <pre><code>
    {{ result }}
    </code></pre>
  </div>
</template>

<script>
import { reduce } from "../utils/functions";

/* *** Edit only lines between this marks ***  */

const keepHighest = (x, y) => (x >= y ? x : y);

const max = reduce(keepHighest, -Infinity);

/* *** Edit only lines between this marks ***  */

export default {
  name: "Example2",
  data() {
    return {
      data: [3, 4, 6, 1, 8, 0]
    };
  },
  computed: {
    result() {
      return max(this.data);
    }
  }
};
</script>

<style scoped>
</style>
