<template>
<div>
  <p>
    Refactor to remove all arguments by partially applying the function.
  </p>
  <pre><code>
    // words :: String -> [String]
    const words = str => split(' ', str);
  </code></pre>

  <h4>Output:</h4>
  <p>{{ result }}</p>
</div>
</template>

<script>
// split :: String -> String -> [String]
import { split } from "../utils/functions";

/* *** Edit only lines between this marks ***  */

const words = str => split(" ", str);

/* *** Edit only lines between this marks ***  */

export default {
  name: "Example1",
  data() {
    return {
      text: "Lorem ipsum dolor sit amet"
    };
  },
  computed: {
    myFunc() {
      return words;
    },
    result() {
      return JSON.stringify(words(this.text));
    }
  }
};
</script>

<style scoped>
</style>
