<template>
  <div id="app">
    <div id="nav">
      <h4 style="margin-top: 0">Functional programming</h4>
      <router-link to="/" exact>1. Why functional programming?</router-link>
      <router-link to="/imperative">2. Imperative vs Declarative programming</router-link>
      <router-link to="/pure">3. Pure function</router-link>
      <router-link to="/pointfree">4. Pointfree</router-link>
      <router-link to="/currying">5. Currying</router-link>
      <router-link to="/compose">6. Compose & Pipe</router-link>
      <router-link to="/example">7. Exercises</router-link>
      <router-link to="/practical-use-cases">8. Practical use cases</router-link>
      <router-link to="/exercises">9. More exercises</router-link>
    </div>

    <router-view/>
  </div>
</template>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  padding: 0 20px 20px;

  color: #2c3e50;
}
#nav {
  padding: 10px 15px 20px;
}

#nav a {
  display: block;
  font-weight: bold;
  font-size: 14px;
  color: #2c3e50;
}

#nav a.router-link-active {
  color: #42b983;
}

pre {
  background-color: #eee;
}
</style>
